
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #1F2937;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}



.hero{
    height:90vh;

    background:
    linear-gradient(rgba(0,0,0,.45),
    rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1566073771259-6a8506099945?w=1600");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    padding:0 10%;
}

.hero-content{
    max-width:700px;
}

.hero h1{

    font-size:60px;
    color:white;
    margin-bottom:20px;
    line-height:1.2;

}

.hero p{

    color:white;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;

}

.hero-buttons{

    display:flex;
    justify-content:center;
    gap:20px;

}

.book-btn{

    text-decoration:none;
    background:#FF4F8B;
    color:white;
    padding:15px 35px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;

}

.book-btn:hover{

    background:#E63E77;
    transform:translateY(-3px);

}

.explore-btn{

    text-decoration:none;
    border:2px solid white;
    color:white;
    padding:15px 35px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;

}

.explore-btn:hover{

    background:white;
    color:#FF4F8B;

}



.search-section{

    margin-top:-70px;
    position:relative;
    z-index:5;
    padding:0 8%;

}

.search-box{

    background:#fff;
    border-radius:18px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);

    display:flex;
    justify-content:space-between;
    align-items:end;
    gap:20px;

    padding:30px;

    flex-wrap:wrap;

}

.search-item{

    display:flex;
    flex-direction:column;
    flex:1;
    min-width:170px;

}

.search-item label{

    font-weight:600;
    margin-bottom:8px;
    color:#555;

}

.search-item input,
.search-item select{

    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;

}

.search-item input:focus,
.search-item select:focus{

    border-color:#FF4F8B;

}

.search-btn{

    background:#FF4F8B;
    color:white;
    border:none;
    padding:15px 28px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;

}

.search-btn:hover{

    background:#E63E77;
    transform:translateY(-2px);

}

.search-btn i{

    margin-right:8px;

}



.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i{
    font-size: 28px;
    color: #FF4F8B;
}

.logo h2{
    font-size: 28px;
    color: #1F2937;
    font-weight: 700;
    cursor: pointer;
}



.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #1F2937;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-links a:hover{
    color: #FF4F8B;
}



.btn{
    text-decoration: none;
    background: #FF4F8B;
    color: #ffffff;
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover{
    background: #E63E77;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(255,79,139,0.35);
}



@media(max-width:900px){

    .navbar{
        flex-direction: column;
        gap: 18px;
    }

    .nav-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}

.hotel-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.hotel-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}



.destinations{
    padding: 30px 8% 90px;
}

.destination-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}

.destination-card{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.destination-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    transition: .5s;
}

.destination-card{
    transition: .4s;
}

.destination-card:hover{
    transform: translateY(-8px);
}

.destination-card:hover img{
    transform: scale(1.08);
}

.destination-info{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
                rgba(255,79,139,.75),
                rgba(0,0,0,.15));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
}

.destination-info h3{
    color: white;
    font-size: 26px;
    font-weight: 600;
}
.featured-hotels{
    padding:90px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:40px;
    color:#1F2937;
    margin-bottom:10px;
}

.section-title p{
    color:#777;
    font-size:17px;
}

.hotel-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.hotel-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.4s;
}

.hotel-card:hover{
    transform:translateY(-10px);
}

.hotel-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    display:block;
}

.hotel-info{
    padding:25px;
}

.hotel-info h3{
    font-size:24px;
    color:#1F2937;
}

.hotel-info p{
    color:#777;
    margin:10px 0;
}

.hotel-info span{
    color:#FF4F8B;
    font-size:18px;
}

.hotel-info h4{
    margin:18px 0;
    color:#1F2937;
}

.card-btn{
    display:inline-block;
    text-decoration:none;
    background:#FF4F8B;
    color:white;
    padding:12px 22px;
    border-radius:30px;
    transition:.3s;
}

.card-btn:hover{
    background:#E63E77;
}

.why-us{
    padding:90px 8%;
    background:#FFF7FA;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.why-card{
    background:white;
    padding:35px 25px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.4s;
}

.why-card:hover{
    transform:translateY(-8px);
}

.why-icon{
    font-size:50px;
    margin-bottom:20px;
}

.why-card h3{
    font-size:22px;
    margin-bottom:15px;
    color:#1F2937;
}

.why-card p{
    color:#666;
    line-height:1.7;
}



.reviews{
    padding:90px 8%;
}

.review-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.review-card{
    background:#ffffff;
    padding:30px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.4s;
}

.review-card:hover{
    transform:translateY(-8px);
}

.review-card h3{
    color:#FF4F8B;
    margin-bottom:15px;
    font-size:24px;
}

.review-card p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
    font-style:italic;
}

.review-card h4{
    color:#1F2937;
    font-weight:600;
}



.newsletter{
    background:#FFF7FA;
    padding:90px 8%;
}

.newsletter-content{
    max-width:700px;
    margin:auto;
    text-align:center;
}

.newsletter-content h2{
    font-size:42px;
    color:#1F2937;
    margin-bottom:20px;
}

.newsletter-content p{
    color:#666;
    font-size:17px;
    line-height:1.8;
    margin-bottom:35px;
}

.newsletter-form{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.newsletter-form input{
    width:380px;
    max-width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:50px;
    outline:none;
    font-size:16px;
}

.newsletter-form input:focus{
    border-color:#FF4F8B;
}

.newsletter-form button{
    background:#FF4F8B;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:50px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.newsletter-form button:hover{
    background:#E63E77;
    transform:translateY(-2px);
}


.footer{

    background:#1F2937;
    color:white;
    padding:70px 8% 25px;

}

.footer-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
    margin-bottom:35px;

}

.footer-box h2,
.footer-box h3{

    margin-bottom:18px;

}

.footer-box p{

    color:#ddd;
    line-height:1.8;

}

.footer-box ul{

    list-style:none;

}

.footer-box ul li{

    margin-bottom:12px;

}

.footer-box ul li a{

    text-decoration:none;
    color:#ddd;
    transition:.3s;

}

.footer-box ul li a:hover{

    color:#FF4F8B;

}

.social-icons{

    display:flex;
    gap:15px;

}

.social-icons a{

    width:42px;
    height:42px;
    background:#FF4F8B;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    text-decoration:none;

    transition:.3s;

}

.social-icons a:hover{

    background:white;
    color:#FF4F8B;

}

.footer hr{

    border:none;
    border-top:1px solid rgba(255,255,255,.2);
    margin-bottom:20px;

}

.copyright{

    text-align:center;
    color:#bbb;
    font-size:15px;

}